{% extends 'base.html' %}
{% load i18n %}

{% block head %}
    <title>Cadastro de Usuário</title>
{% endblock %}

{% block content %}
{% endblock %}

{% block body %}
<div class="col-10 m-auto pt-2 pb-2" text-center>
    <h1>Consultar arquivo CSV</h1>
  </div>
   
  <div class="col-10 m-auto pt-2 pb-2" text-center>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Country</th>
          <th scope="col">Publication Title</th>
          <th scope="col">Publication Number</th>
          <th scope="col">Year</th>
          <th scope="col">Match</th>
          <th scope="col">Type organization</th>          
        </tr>
      </thead>
      <tbody>
        {% for pesquisa in pesquisas %}
          <tr>
            <td>{{ pesquisa.name }}</td>
            <td>{{ pesquisa.address }}</td>
            <td>{{ pesquisa.country }}</td>
            <td>{{ pesquisa.publication_title }}</td>
            <td>{{ pesquisa.publication_Number }}</td>
            <td>{{ pesquisa.year }}</td>
            <td>{{ pesquisa.match }}</td>
            <td>{{ pesquisa.type_organization }}</td>
          </tr>
        {% endfor %}  
      </tbody>
    </table>
  </div>

{% endblock %}